@mixin center {
    margin-left: auto;
    margin-right: auto;
}

@mixin zerospacing {
    margin: 0;
    padding: 0;
}

@mixin sectionpadding {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 1.1em;
}

@mixin borders {
        color: white;
        border: 5px solid orange;
        border-radius: 10px;
        background-color: rgba(0,206,209,0.35);
        margin-left: 30px;
        margin-right: 30px;
}

@mixin borders2 {
        color: white;
        border: 5px solid orange;
        border-radius: 10px;
        background-color: rgba(0,206,209,0.35);
}


@mixin menu {
    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-icon {
        color: white;
        line-height: 1;
        font-size: 2.4em;
    }

    .hamburger:focus,
    .hamburger-icon:focus {
        outline: none;
    }
    
    .hamburger:focus .hamburger-icon {
        outline: 5px solid #69c1db;
    }

    .hamburger-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    header {
        flex-wrap: wrap;
		align-items: center;
		height: auto;
        text-align: center;
    }

    nav {
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.3s ease;
    }

    nav ul {
        display: block;
    }

    nav a {
        line-height: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid #afafaf;
    }

    nav li:last-child a {
        border-bottom: 1px solid #afafaf;
    }
}

@mixin onecolumn {

        grid-template-columns: .1fr 1fr .1fr;
        grid-row: auto;
        grid-gap: 5px;
        
        h2 {
            font-size: 18px;
        }
        
        h3 {
            font-size: 18px;
        }
    
        p, li {
            font-size: 15px;
        }
    
    .section-01 {
            grid-column: 2 / 3;
            grid-row: 1;
            margin-left: 0;
        }
        
        .section-02 {
            grid-column: 2 / 3;
            grid-row: 2;
        }
        
        .section-03 {
            grid-column: 2 / 3;
            grid-row: 3;
            margin-right: 0;
        }
    
        .section-04 {
        ggrid-column: 2 / 3;
            grid-row: 1;
        padding: 20px;
    }
    
    .section-05 {
        grid-column: 2 / 3;
            grid-row: 2;
        padding: 10px;
        margin: 10px;
    }
    
    .section-06 {
        grid-column: 2 / 3;
            grid-row: 3;
        padding: 10px;
        margin: 10px;
    }
    
    .section-07 {
        grid-column: 2 / 3;
            grid-row: 4;
        padding: 10px;
        margin: 10px;
    }
    
    .section-10 {
        grid-column: 2 / 3;
            grid-row: 5;
        padding: 10px;
        margin: 10px;
    }
    
    .section-08 {
        grid-column: 2 / 3;
            grid-row: 6;
        padding: 10px;
        margin: 10px;
    }
    
    .section-09 {
        grid-column: 2 / 3;
            grid-row: 7;
        padding: 10px;
        margin: 10px;
    }
    
    .section-12 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .section-13 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .section-14 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .section-15 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    
    .section-16 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    
    .section-17 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    
    .section-18 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    
    .section-19 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    
    .section-20 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }
    
    .section-21 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 10 / 11;
    }
    
    .section-22 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 11 / 12;
    }
    
    .section-23 {
        @include borders2;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 12 / 13;
    }
}

@mixin twocolumn {
    
    .section-04 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 20px;
    }
    
    .section-05 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 5px;
        margin: 5px;
    }
    
    .section-06 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 5px;
        margin: 5px;
    }
    
    .section-07 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding: 5px;
        margin: 5px;
    }
    
    .section-10 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        padding: 5px;
        margin: 5px;
    }
    
    .section-08 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        padding: 5px;
        margin: 5px;
    }
    
    .section-09 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        padding: 5px;
        margin: 5px;
    }
    
    .section-12 {
        @include borders2;
        margin-left: 5px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .section-13 {
        @include borders2;
        margin-right: 5px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .section-14 {
        @include borders2;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-right: 0px;
        margin-left: 5px;
    }
    
    .section-15 {
        @include borders2;
        margin-left: 0px;
        margin-right: 5px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .section-16 {
        @include borders2;
        margin-left: 5px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .section-17 {
        @include borders2;
        margin-right: 5px;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .section-18 {
        @include borders2;
        margin-left: 5px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .section-19 {
        @include borders2;
        margin-right: 5px;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    
    .section-20 {
        @include borders2;
        margin-right: 0px;
        margin-left: 5px;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    
    .section-21 {
        @include borders2;
        margin-left: 0px;
        margin-right: 5px;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    
    .section-22 {
        @include borders2;
        margin-left: 5px;
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    
    .section-23 {
        @include borders2;
        margin-right: 5px;
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
}


/* advent-pro-regular - latin */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/advent-pro-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Advent Pro Regular'), local('AdventPro-Regular'),
       url('../fonts/advent-pro-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/advent-pro-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/advent-pro-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/advent-pro-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/advent-pro-v7-latin-regular.svg#AdventPro') format('svg'); /* Legacy iOS */
}

/* play-regular - latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Play Regular'), local('Play-Regular'),
       url('../fonts/play-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/play-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/play-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/play-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/play-v9-latin-regular.svg#Play') format('svg'); /* Legacy iOS */
}